/*
!.*
*.DS_Store
*.swp
/.AB64CF89
/.CF89AA64
/.CFUserTextEncoding
/.Trash
/.Zultys
/.adobe
/.android
/.bash_history
/.bitrock
/.bundle
/.bundler
/.chef
/.cups
/.datastudio
/.dropbox
/.gem
/.heroku
/.irb-history
/.irb_history
/.lesshst
/.m2
/.mocksmtp
/.morena
/.mysql_history
/.netrc
/.npm
/.pearrc
/.pgpass
/.post-review-cookies.txt
/.pow
/.psql_history
/.rbenv
/.rnd
/.ssh
/.subversion
/.svn2git
/.ts3client
/.viminfo
/.vim/.netrwhist
/.vmc_target
/.vmc_token
