/*
!.*
*.DS_Store
*.swp
/.AB64CF89
/.CF89AA64
/.CFUserTextEncoding
/.Trash
/.Zultys
/.adobe
/.android
/.bash_history
/.bitrock
/.bundle
/.bundler
/.chef
/.cups
/.datastudio
/.dropbox
/.gem
/.heroku
/.irb-history
/.irb_history
/.lesshst
/.mocksmtp
/.morena
/.mysql_history
/.pgpass
/.post-review-cookies.txt
/.pow
/.psql_history
/.rnd
/.rvm
/.ssh
/.subversion
/.viminfo
/.vim/.netrwhist
/.vmc_target
/.vmc_token
